<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="apipage.TextkrProfessionsSuggestSkills"/>
      <class name="apipage.TextkrProfnCompleteNormalized"/>
      <class name="apipage.TextkrMatchExtractDo"/>
      <class name="apitest.TestData"/>
      <class name="apipage.TextkrSkillsLookup"/>
      <class name="apipage.PostData"/>
      <class name="apipage.TextkrCompleteNormalized"/>
      <class name="apipage.Kvk"/>
      <class name="apipage.GetData"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
